.left{
    height: 350px;
    width: 200px;
    border: 3px solid #fff;
    border-radius: 0px 15px 15px 0px;
    box-shadow: 3px 1px 0px #fff;
    display: block;
    margin: auto 0px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.right{
    height: 350px;
    width: 200px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    border: 3px solid #fff;
    border-radius: 15px 0px 0px 15px;
    box-shadow: -3px 1px 0px #fff;
}

.center{
    width: 9px;
    background-color: #ffffffc9;
    display: inline;
    height: 100%;
    margin: auto;
    position: absolute;
    left: 50%;
    transform: translateX(-5px) translateY(-30px);
    z-index: -3;
}